<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBSever.Properties.Settings.HrSystemConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=HrSystem;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>